@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GlossySheenRegular-L35oy";
  font-weight: normal;
  src: url("./fonts/GlossySheenRegular-L35oy.ttf") format("truetype");
}

/* 전역 커서 설정 */
@layer base {
  html, body, #root {
    @apply cursor-custom;
  }
}

/* 전역 스타일 적용이 안될 경우를 대비한 백업 */
.cursor-custom {
  cursor: url('/images/default-cursor.png'), auto !important;
}