@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GlossySheenRegular-L35oy";
  font-weight: nomarl;
  src: url("./fonts/GlossySheenRegular-L35oy.ttf") format("truetype");
}



